.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  width: 500px;
}

form.example input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #727272;
  float: left;
  width: 74%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: #727272;
  color: white;
  font-size: 17px;
  border: 1px solid transparent;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background-color: #55585d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
